@model List<Job>

@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Time Management Matrix</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .matrix {
            border: solid 2px #000;
            max-width: 600px;
            margin: 20px auto;
        }
        .matrix-header {
            background-color: #f7f5d1;
            text-align: center;
            padding: 10px;
            font-weight: bold;
            border-bottom: solid 2px #000;
        }
        .matrix-table {
            width: 100%;
            border-collapse: collapse;
        }
        .matrix-table th {
            background-color: #f7f5d1;
            padding: 10px;
            border: solid 2px #000;
        }
        .matrix-table td {
            border: solid 2px #000;
            padding: 10px;
            vertical-align: top;
        }
        .important {
            background-color: #fff8dc;
        }
        .not-important {
            background-color: #f5f5f5;
        }
        .urgent {
            background-color: #ffebcd;
        }
        .not-urgent {
            background-color: #f0e68c;
        }
    </style>
</head>
<body>
    <div class="matrix">
        <div class="matrix-header">
            Stephen Covey's Time Management Matrix
        </div>
        <table class="matrix-table">
            <tr>
                <th></th>
                <th>Urgent</th>
                <th>Not Urgent</th>
            </tr>
            <tr>
                <td class="important">Important</td>
                <td class="important urgent">
                    @foreach (var Job in Model.Where(x => x.Quadrant == 1))
                    {
                        <p>@Job.JobName - @Job.DueDate (@Html.ActionLink("Edit", "Edit", new { id = Job.JobId }), " ", @Html.ActionLink("Delete", "Delete", new { id = Job.JobId }))</p>
                    }
                </td>
                <td class="important not-urgent">
                    <ul>
                        <li>Relationship Building</li>
                        <li>Planning</li>
                        <li>Recreation</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="not-important">Not Important</td>
                <td class="not-important urgent">
                    <ul>
                        <li>Interruptions</li>
                        <li>Some Phone Calls</li>
                        <li>Some Mail</li>
                        <li>Some Reports</li>
                    </ul>
                </td>
                <td class="not-important not-urgent">
                    <ul>
                        <li>Busy Work</li>
                        <li>Some Phone Calls</li>
                        <li>Some Mail</li>
                        <li>Time Wasters</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

